.header {
    background-color: #002045;
    width: 100%;
    padding: 50px;
    justify-content: center;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    list-style: none;
}

.item a {
    text-decoration: none;
    color: #fff;
    font-size: 28px;
    font-weight: 600;
}